html,
body {
  padding: 0;
  margin: 0;
  background-color: #fcf7f2;
}

p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.9px;
}

li {
  list-style: none;
}

/* * {
  box-sizing: border-box;
} */
