.container {
  padding: 0 2rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1% 3% 0 4%;
}

.navbar img {
  width: 120px;
}

.navbar a {
  padding: 0.5em 0;
  font-size: 16px;
  min-width: 0;
  margin: 0 1.5em;
  transition: 0.4s;
}

.navbar a:hover {
  color: #da0041;
  padding: 1em 0 0 0;
  transition: 0.4s;
}

.navDrawer,
.navDrawerFooter {
  color: #ffffff;
  text-align: center;
}

.navDrawer li {
  margin: 0.25em 0;
}

.navDrawer a {
  font-size: 24px;
}

.navDrawer a:hover,
.navDrawer a:active,
.navDrawerFooter a:hover,
.navDrawerFooter a:active {
  color: #bcbcbc;
}

.navDrawerFooter a {
  margin: 0 0.5em;
}

.footer {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  justify-content: center;
  align-items: center;
  padding: 1em 0 2em 0;
}

.footer p {
  color: rgba(0, 0, 0, 0.4);
  font-size: small;
}

.footer a {
  padding: 0 0.5em;
  color: #000000;
}

.footer a:hover {
  color: #da0041;
}

.innerFooter {
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.innerFooter div {
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.mainBackgroundText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin: 0;
  position: relative;
  top: 32.5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.homeText {
  text-align: center;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  width: 800px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em 0 0 0;
  font-size: 24px;
}

.home > span {
  margin: 1em 2em;
}

.pageHeadings {
  align-self: center;
  text-align: center;
  margin: 0 40vw 1em 40vw;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3em 4em;
}

.aboutText {
  display: flex;
  flex-direction: column;
  /* padding-top: 2em; */
  margin-left: 4em;
  align-self: flex-end;
  flex-shrink: 1 3 0%;
  max-width: 40vw;
}

.innerAboutText {
  max-width: 400px;
  margin-left: 40px;
}

.innerAboutText > p {
  padding: 0.5em 0;
}

.aboutWelcomeText {
  width: 450px;
  padding-right: 200px;
  position: relative;
  left: -30%;
  /* top: 30%; */

  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(0%, 10%);
}

.linkToServices {
  background-image: url("./images/denas-sweet-sixteen/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.linkToServices > div {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2em 0;
}

.linkToServices * {
  color: #ffffff;
}

.services {
  /* padding: 2em; */
  color: #3f2300;
}

.innerService {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em 0;
}

.innerServiceReverse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 2em 0;
  /* text-align: end; */
}

.services > div > * {
  padding: 1em 2em;
}

.services p {
  max-width: 450px;
  padding-bottom: 1em;
  overflow-wrap: break-word;
}

.services img {
  width: 450px;
}

.serviceHeadings {
  font-size: 24px;
}

.partyRentals {
  margin: 2em 10vw;
}

.partyRentalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em 0;
}

.partyRentalContainer p {
  max-width: 30vw;
  margin-left: 2em;
}

.partyRentalPhotos {
  display: flex;
  flex-direction: row;
}

.partyRentalPhotos img {
  width: 200px;
  padding: 2px;
}

.gallery {
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery > img {
  width: 300px;
  margin: 1em;
  transition: 0.3s;
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.4);
}

.gallery > img:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

.singleGalleryHeading {
  align-self: center;
  margin: 2em 35vw;
}

.singleGallery {
  padding: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.singleGallery img {
  width: 400px;
  padding: 3px;
  transition: 0.8s;
}

.singleGallery img:hover {
  transition: 0.8s;
  opacity: 50%;
}

.contactBackground {
  background-image: url("./images/IMG_6113.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.beforeContact {
  text-align: center;
  padding-top: 1em;
  font-size: 42px;
}

.beforeContact > * {
  color: #ffffff;
}

.contact {
  padding: 3em 20vw;
}

.contact label {
  margin: 0;
}

.contact input,
.contact select,
.contact textarea {
  margin-bottom: 1em;
}

/*-----------------------------------------------------*/
@media (max-width: 600px) {
  .home {
    font-size: 18px;
  }

  .home button {
    font-size: 14px;
  }

  /*----------------------*/

  .aboutText {
    font-size: 14px;
  }

  /*----------------------*/
  .pageHeadings {
    font-size: 14px;
    margin: 0 30vw 1em 30vw;
  }

  /*----------------------*/

  .gallery > img {
    width: 150px;
  }

  /*----------------------*/

  .serviceHeadings {
    font-size: 18px;
  }

  .serviceTexts {
    font-size: 14px;
  }

  .partyRentals {
    margin: 2em;
  }

  /*----------------------*/

  .contact {
    padding: 3em 2em;
  }
}

@media (max-width: 800px) {
  .fullScreenNav {
    margin-left: 2em;
  }

  .smallScreenNav {
    margin-left: 50%;
  }

  .navbar a {
    margin: 0 1em;
    font-size: 14px;
  }

  /*----------------------*/

  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutText {
    max-width: none;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .innerAboutText {
    max-width: none;
    margin: 0;
    text-align: center;
    /* margin-left: 40px; */
  }

  .aboutWelcomeText {
    position: relative;
    left: 0;
    width: 150px;
    padding-right: 0px;
    /* top: 30%; */

    /* -ms-transform: translate(-50%, -50%); */
    transform: none;
  }

  /*----------------------*/
  .pageHeadings {
    margin: 0 35vw 1em 35vw;
  }
}
