.container {
  padding: 0 2rem;
}

.navbar {
  padding: 1% 5%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  max-width: 120px;
  max-height: 120px;
}

.navbar a {
  padding: 0.5em 0;
  min-width: 0;
  margin: 0 1.5em;
  transition: 0.4s;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.navbar a:hover {
  color: #cc2658;
  padding: 1em 0 0 0;
  transition: 0.4s;
}

.footer {
  background-color: #fcf7f2;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.footer p {
  color: rgba(0, 0, 0, 0.4);
  font-size: small;
}

.footer a {
  padding: 0 0.5em;
  color: #000000;
}

.footer a:hover {
  color: #808080;
}

.innerFooter {
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.innerFooter div {
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.mainBackgroundText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin: 0;
  position: relative;
  top: 32.5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.homeBackground {
  background-image: url("./images/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.home {
  padding: 2em;
}

.innerHome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em 0;
}

.innerHomeReverse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 2em 0;
  /* text-align: end; */
}

.home > div > * {
  padding: 1em 2em;
}

.home p {
  max-width: 450px;
  padding-bottom: 1em;
  overflow-wrap: break-word;
}

.home img {
  width: 450px;
}

.homeHeadings {
  font-family: serif;
  font-size: 24px;
}

.keepInTouch {
  background-image: url("./images/CAB9FE08-450B-4D53-B386-E83C71DF2BBC.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.keepInTouch a {
  margin: 0 0.5em;
}

.innerKeepInTouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2em;
}

.innerKeepInTouch p {
  padding: 0.5em 0;
}

.aboutBackground {
  background-image: url("./images/about.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.beforeAbout {
  background-color: #ffedef;
  padding: 3em 10%;
}

.beforeAbout > * {
  max-width: 80ch;
  text-align: center;
  overflow-wrap: break-word;
}

.about {
  background-color: #f4f4f4;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about > * {
  padding: 0.5em;
}

.faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2em;
}

.faq > div {
  padding: 1em;
  max-width: 50ch;
}

.faqLinkToServices {
  background-image: url("./images/DSC0009.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.faqLinkToServices > div {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2em 0;
}

.faqLinkToServices p {
  text-align: center;
}

.servicesBackground {
  background-image: url("./images/services.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3em;
}

.innerServices {
  max-width: 70vw;
  padding: 2em;
}

.serviceImages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceImages > div {
  padding: 0.25em;
}

.serviceImages img {
  max-height: 325px;
}

.contactBackground {
  background-image: url("./images/contact.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.beforeContact {
  background-color: #ffccd5;
  padding: 3em 10%;
}

.beforeContact > * {
  max-width: 100ch;
  text-align: center;
  overflow-wrap: break-word;
}

.beforeContact p {
  padding: 0.3em 0;
}

.contact {
  background-color: #fff0f3;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 4em 0;
}

.contact > * {
  /* max-height: 800px; */
  padding: 3em 2em;
}

.contact img {
  /* aspect-ratio: auto 3024 / 4032; */
  max-height: 650px;
}

.contactInputs {
  min-width: 450px;
  max-width: 650px;
}

.contactInputs div {
  margin-bottom: 2em;
}

.contactInputs button {
  align-self: center;
  color: black;
}

@media (max-width: 500px) {
  .homeHeadings {
    font-size: 18px;
  }

  .homeTexts {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .navbar a {
    padding: 0;
    transition: none;
  }
  .navbar a:hover {
    padding: 0;
    transition: none;
  }

  .navbar img {
    max-width: 100px;
    max-height: 100px;
  }
}
